.footerContainer {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: black;
    border-top: 1px solid #EE6D52;
    width: 100%;
}
.footersBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    color: whitesmoke;
}
.span{
    background-color: azure;
    height: 15px;
    width: 15px;
}
.footer{
    margin-left: 3vh;
}
.goUp{
    color: #EE6D52;
    font-size: 1.5rem;
    cursor: pointer;
}


.goUp:hover {
    animation: bounce 0.5s;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(0px);
    }
}